mephi.dtd

<!ELEMENT mephi (faculty+)>
<!ATTLIST mephi name CDATA #REQUIRED>

<!ELEMENT faculty (department+)>
<!ATTLIST faculty name CDATA #REQUIRED
		  shortname CDATA #REQUIRED
>

<!ELEMENT department (group+)>
<!ATTLIST department
		name CDATA #REQUIRED
		number CDATA #REQUIRED
>

<!ELEMENT group (student*)>
<!ATTLIST group grnumber CDATA #REQUIRED
		year CDATA #REQUIRED
>

<!ELEMENT student EMPTY>
<!ATTLIST student firstname CDATA #REQUIRED
		  lastname CDATA #REQUIRED

>
